@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}
#canvas {
    border: 3px solid;
    margin: 0 auto;
    display: block;
}

#score, #max-score {
  font-family: 'Press Start 2P';
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#max-score {
  font-size: 10px;
}

.food {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.game-board {
  position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-btn, #retry-btn {
  position: absolute;
  padding: 10px;
  font-family: 'Press Start 2P';
  font-size: 20px;
  background-color: white;
  border: 5px solid black;
  letter-spacing: 4px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#start-btn:hover, #retry-btn:hover{
  color:  rgba(255, 255, 0, 0.808);
  box-shadow: inset 400px 50px 0 0 #86af3a;
  border: 5px solid black;
}

#retry-btn {
  display: none;
  margin-top: 200px;
}

#snake {
  position: absolute;
}

#instructions {
position: absolute;
bottom: 60px;
font-family: 'Press Start 2P';
font-size: 10px;
}


#update {
  width: 15px;
  margin: 0px
}

#updateBtn {
  border: none;
  background-color: white;
}


